body {
	padding: 0;
	margin: 0;
	font-family: Noto Serif;
	color: 000;
	font-size: 16px;
	background-color: #272727;
}
.container > ul > li > p {
	margin-left: 1%;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 26px;
	color: white;
}
.cotecsquad > li {
	margin-bottom: 40px;
}
.cotecsquad > li > a {
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 1%;
	font-size: 22px;
	color: #73feb3;
	letter-spacing: 0.1em;
}
.container > ul > li > h2 {
	margin-left: 1%;
	margin-top: 1%;
	font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	color: white;
	text-transform: uppercase;
}

.container > h1 {
	margin-left: 1%;
	margin-top: 1%;
	font-size: 28px;
	margin-bottom: 2%;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170;
	margin: 0 auto;
}

.header {
	background-color: #333333;
}

.logo {
	margin-left: 2%;
	width: 100px;
	height: 98px;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-right: 2%;
}

header a {
	color: #ededed;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 22px;
	letter-spacing: 0.1em;
}

.menu li {
	margin: 30px;
}

.gmail {
	font-size: 22px;
	text-decoration: none;
	margin-left: auto;
	font-weight: bold;
	margin-right: 30px;
}

.nav {
	display: flex;
	align-items: center;
}

.a-hot {
	font-weight: bold;
	color: white;
}
