/*! вся страница */

body {
	padding: 0;
	margin: 0;
	font-family: Noto Serif;
	color: 000;
	font-size: 16px;
	background-color: #272727;
}

/*! Общее */

/* container */
.container {
	width: 1170;
	margin: 0 auto;
}

/* заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	color: white;
	text-transform: uppercase;
}

/* ссылки */
a {
	text-decoration: none;
	font-size: 22px;
	color: #73feb3;
	letter-spacing: 0.1em;
}

/* списки */
ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

/*! HEADER */

/* меню */
.menu {
	display: flex;
}

/* ссылки в списке */
.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 22px;
	letter-spacing: 0.1em;
}

/* список */
.menu li {
	margin: 30px;
}

.nav {
	display: flex;
	align-items: center;
}

/* ссылки в header */
header a {
	color: #ededed;
}

/* header */
.header {
	background-color: #333333;
}

/* gmail */
.gmail {
	font-size: 22px;
	text-decoration: none;
	margin-left: auto;
	font-weight: bold;
	margin-right: 30px;
}

/* a hot */
.a-hot {
	font-weight: bold;
	color: white;
}

/* логотип */
.logo {
	margin-left: 2%;
	width: 100px;
	height: 98px;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-right: 2%;
}

/*! ABOUT */

/* p в списке */
.cotecsquad > li > p {
	margin-left: 1%;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 26px;
	color: white;
}

/* список */
.cotecsquad > li {
	margin-bottom: 40px;
}

/* ссылки в списке */
.cotecsquad > li > a {
	margin-left: 1%;
	text-transform: uppercase;
}

/* заголовки в списке */
.cotecsquad > li > h2 {
	margin-left: 1%;
	margin-top: 1%;
	font-size: 24px;
}

/* заголовки в начале section */
.container > h1 {
	margin-left: 1%;
	margin-top: 1%;
	font-size: 28px;
	margin-bottom: 2%;
}
